@tailwind base;
@tailwind components;
@tailwind utilities;

#app-description ul {
  @apply list-disc list-inside;
}

#app-description ol {
  @apply list-decimal list-inside;
}

#app-description p {
  @apply my-2;
}

#custom-carousel {
  .carousel {
    .control-prev.control-arrow::before {
      @apply border-r-slate-900;
    }

    .control-next.control-arrow::before {
      @apply border-l-slate-900;
    }

    .control-dots {
      .dot {
        @apply bg-slate-800;
        opacity: 0.4;
        box-shadow: none;
        transform: scale(1);

        &.selected {
          transform: scale(1.1);
          opacity: 0.8;
          transition: 200ms all linear;
        }
      }
    }
  }
}
